################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SOtarea01/.vs/SOtarea01/v16
/SOtarea01/Debug
/SOtarea01/POtarea01/Debug
/.vs/ejemplo01/v16
/.vs
